@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

img{
  max-width: 100%;
}

.container img{
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}
.container h1{
  color: var(--Dark-blue);
  text-align: center;
  margin-bottom: 1rem;
}
.container p{
  color: var(--Grayish-blue);
  text-align: center;
}

body{
  font-family: 'Outfit', sans-serif;
  font-size:15px;
  background-color: var(--Light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 1px);
  margin: 1.2rem;
}

.container{
  background-color: var(--White);
  padding: 1.25rem;
  border-radius: 0.624rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3 );
  margin-bottom: 2rem;

}

.attribution {
  font-size: 13px; text-align: center; 

}

 .attribution a { 
   color: hsl(228, 45%, 44%);
  
}

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}